.minipalette {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &__colors {
    height: 150px;
    width: 100%;
    background: #dae1e4;
    border-radius: 5px;
    overflow: hidden;
  }

  &__minicolorbox {
    height: 25%;
    width: 20%;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    margin-bottom: -3.5px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 0.5rem 0 0;
    font-size: 1rem;
    color: #000;
    position: relative;
  }

  &__emoji {
    margin: 0 0.5rem 0 0;
    font-size: 1.5rem;
  }
}