.palettefooter {
  background-color: #fff;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
  flex-direction: column;

  &__emoji {
    font-size: 1.5rem;
    margin: 1rem;
  }
}